body {
	 font: .8em Arial, Sans-Serif; 
	 line-height: 1.8em; 
	background: #8E5721;
 }
.wrap{
	background: white;
	width: 100%;
	margin: 10px auto;
}

.wrap .header{
	font-size:24px;
	text-align:center;
	background: #2BF73C url("images/dark-wood.jpg") repeat-x;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color: White;
	padding: 2px 10px;
	height: 150px;
}

.wrap .menu{

	background: white;
	font-family: Arial , Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	
}

.wrap .menu ul{

	padding: 2px 10px;
	margin: 0;
	background: yellow;
	overflow: hidden;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}

.clear{
	clear: both;
}

.badan{
	height: 450px;
}

.wrap .badan .content{
	text-align:center;
	background:#20BB92 ;
	color: #000000;
	font-size: 19px;
	font-weight: 100;
	padding: 0 0 0 11px;
	letter-spacing: -1px;
	line-height: 12px;
	margin: 0 0 10px;
	padding: 10px 0 3px;
	float: center;
	height: 100%;
	width: 100%;	
	font-family: coming-soon,Arial;
}

#footer { 
	font-size: 11px;
	text-align: center; 
	border-top: 1px solid #ccc; 
	padding: 10px 5px; 
	}
	
h3 { 
padding-left: 10px; 
color: #fff; 
background: #F8F8F8 url(images/bg.jpg) repeat-x; 
font-size: 1em; 
height: 24px; 
line-height: 24px;
}
