	/** File CSS_uas **/
	
		a {
			color : 676767;
			text-decoration : none;
		}
		a:hover {
			text-decoration : underline;
		}
		body {
			margin : 0 auto;
			font-family : Monotype Corsiva;
			font-size : 13px;
			color : #444444;
		}
		hr {
			border-bottom : 1px solid #C3C3C3;
			border-top : 1px solid #F4F4F4;
		}
		img {
			background-color : #FFFFFF;
			box-shadow : 2px 2px 5px #999999;
			margin : 20px 10px 10px 10px;
			padding : 5px;
		}
		p, li {
			font-family : lucida;
			line-height : 1.5;
		}
		span {
			float : left;
			display : block;
		}
		span.deskripsi {
			width : 50px;
		}
		th {			
			font-size : 13px;
			font-weight : normal;
		}
		
		/** CSS menggunakan selector Class **/
		.nav-atas {
			padding : 5px 0;
			background-color : #00FFFF;
		}
		.nav-atas table tr td {
			border-left : 1px dotted #FAFAFA;
			font-size : 13px;
			text-align : center;
		}
		.nav-atas table tr td.depan {
			border-left : none;
		}
		.nav-atas a {
			color : #000000;
			font-weight : 600;
			font-family : Lucida Calligraphy;
		}
		.nav-atas a:hover {
			color : #DDDDDD;
			text-decoration : none;
		}
		.judul {
			padding : 5px;
			background-color : #EEEEEE;
			color : #1891EC;
			text-align : center;
		}
		.konten {
			padding : 20px 0 40px 0;
			background-color : #FFB6C1;
		}
		.konten .kolom {
			margin : 0 auto;
			overflow : hidden;
			width : 850px;
		}
		.imgcap {
			color : #696969;
			font-family : Times New Roman;
		}
		.nav-bawah {
			background-color : #9400D3;
			padding : 5px;
			text-align : center;
		}
		.nav-bawah a {
			color : #CCCCCC;
		}