.slide{
	position:relative;
	width:100%;
	height:200px;
	text-align:left;
}
.slide > td{
	text-align:left;
}
.logo{
	display:inline-block;
}
.slider{    
	position:relative;
	width: 800px;
    overflow: hidden;
    display: inline-block;
    float: right;
    height: 200px;
}
.slider img{
	position:absolute;
	width:100%;
	height:300px;
	transition:3s;
	opacity:0;
}
.slider img.active{
	opacity:1;
}