*{
	margin:0;
	padding:0;
	font-family:calibri, "segoe ui", arial, tahoma, sans-serif;
}

body{
		background-color:#DAA520;
}
#table{
		float:center;
		margin:40px;
	}
#wrapper{
		width : 900px;
		margin: 0 auto;
		overflow: hidden;
}

#header{
		background: url(../imagesheader.jpg) repeat-x #483;
		height : 175px;
		width :100%;
		padding:5px;
		margin:20px 0;
		overflow :hidden;
}
#header img{ width : 99%; height:148px;} 

#menu-utama{
		float:right;
		margin-top:3px;
		list-style:none;
}

#menu-utama li{
		float:left;
		padding:8px 20px;
		border-right:1px solid #555555;
}

#menu-utama li a{
		color : #ffffff;
		text-decoreation:none;
}

#header form{
		float:right;
		margin-top:7px;
		margin-right:10px;
}

#header form input{
		border:none;
		height:20px;
}

#daftar-artikel{
		width:600px;
		float:right;
}
#daftar-artikel1{
		width:600px;
		float:left;
}
.artikel1{
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
#daftar-artikeln{
		width:600px;
		float:left;
}
.artikeln{
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
#daftar-artikell{
		width:100%;
		float;
}
.artikell{
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
.artikel{
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
.artikel img{
		float:left;
		margin-right:10px;
		width:200px;
		height:165px;
}
.artikel b{
		color:#616060;
		background:#DDDDDD;
		padding:3px;
		font-size:12px;
		font-weight:bold;
		margin-right:10px;
}
.artikel p{
		margin:10px 0;
}
.artikel a{
		display:block;
		text-align:right;
		color:#636363;
}

#sidebar{
		width:270px;
		float:left;
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
#sidebar1{
		width:270px;
		height:auto;
		float:left;
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
#sidebar1{
		line-height:20px;
		color:black;
		text-align:left;
}
#sidebar2{
		width:270px;
		float:right;
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
#sidebar3{
		width:270px;
		float:right;
		background:#DCDCDC;
		padding:10px;
		margin-bottom:20px;
		overflow:hidden;
}
#sidebar h2{
		font-size:18px;
		margin:10px 0;
}
#sidebar p{
		line-height:20px;
		color:#636363;
}
#sidebar ul{
		margin-left:10px;
	}
#sidebar ul li a{
		color:#636363;
		text-decoration:none;
	}
#sidebar a{
	color:black;
	text-decoration:none;
	}
	#sidebar2 h2{
		font-size:18px;
		margin:10px 0;
}
#sidebar2 p{
		line-height:20px;
		color:#636363;
}
#sidebar2 ul{
		margin-left:10px;
	}
#sidebar2 ul li a{
		color:#636363;
		text-decoration:none;
	}
#sidebar2 a{
	color:black;
	text-decoration:none;
	}
#footer{
		clear:both;
		margin:20px 0;
		text-align:center;
		background-color:#483;
		padding:5px;
	}
	